<p id="notice"><%= notice %></p>

<p>
  <b>Org:</b>
  <%= @login.org %>
</p>

<p>
  <b>User:</b>
  <%= @login.user_id %>
</p>

<p>
  <b>User name:</b>
  <%= @login.user_name %>
</p>

<p>
  <b>Password:</b>
  <%= @login.password %>
</p>


<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
