
<div class='row-fluid'>
  <div class='span4'>
    <div class='wrapper'>
      <%= form_for @login do |f| %>
        <% if @login.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @login.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <p>
        <%= f.text_field :org, :placeholder => 'Title or Organization' %>
        </p>
        <p>
        <%= f.text_field :user_name, :placeholder => 'User Name or Email' %>
        </p>
        <p>
        <%= f.password_field :password, :placeholder => 'Password' %>
        </p>
        <%= f.submit "Add Login", :class => 'btn' %>
      <% end %>
    </div>
  </div>
  <div class='span8'>
    <div class='wrapper'>
      <% if @logins.length > 0 %>
        <%= form_tag search_path do %>
          <%= submit_tag 'Search', :class => 'btn pull-right', :id => 'search-button' %>
          <%= text_field_tag :search, params[:search], :method => 'get', :class => 'input-medium search-query pull-right search-button' %>
        <% end %>
        <table class='table table-striped table-sort'>
          <caption>Your Logins</caption>
          <thead>
            <tr>
              <th><%= sortable 'org', 'Organization or Title' %></th>
              <th><%= sortable 'user_name', 'User Name or Email' %></th>
              <th><%= sortable 'password', 'Password' %></th>
            </tr>
          </thead>
          <tbody>
            <% if @logins %>
              <% @logins.each do |login| %>
                <tr>
                  <td><%= login.org %></td>
                  <td><%= login.user_name %></td>
                  <% if @revealed_logins.include?(login) %>
                    <td><%= login.password %></td>
                  <% else %>
                    <td><%= scrambled_password %></td>
                  <% end %>
                  <td><%= button_to "Reveal", { :controller => :users, :action => 'reveal', :id => login.id }, method: :get, :class => 'btn' %></td>
                  <td><%= button_to "Delete", {:controller => :users, :action => 'deletelogin', :id => login.id }, method: :delete, :class => 'btn' %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h3>You can create a Login using the form on the left.</h3>
      <% end %>
    </div>
  </div>
</div>

<%= debug @revealed_logins %>

