<!DOCTYPE html>
<html>
<head>
  <title>Password Protect</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='navbar'>
    <div class='navbar-inner'>
      <%= link_to 'Password Protect', root_url, :class => 'brand' %>
      <% if current_user %>
        <ul class='nav'>
          <li class='divider-vertical'>
          <%= link_to 'My Passwords', root_url %>
          </li>
        </ul>
      <% end %>
      <ul class='nav pull-right'>
        <li id='fat-menu' class='dropdown'>
        <a href='#' id='account' role='button' class='dropdown-toggle' data-toggle='dropdown'>
          <% if current_user %>
            <%= current_user.email %>
          <% else %>
            Account
          <% end %>
          <b class='caret'></b>
        </a>
        <ul class='dropdown-menu' role='menu' aria-labelledby='account'>
          <% if current_user %>
            <li>
            <%= link_to 'Log out', log_out_path %>
            </li>
          <% else %>
            <li>
            <%= link_to 'Sign up', sign_up_path %>
            </li>
            <li>
            <%= link_to 'Log in', log_in_path %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
  <%= render partial: 'layouts/messages', flash: flash %>
  <%= yield %>
</body>
</html>
